*{
    margin: 0 auto;
}
body{
    margin-left: 5px;
    margin-right: 5px;
    font-family: 'Open Sans';
}
a{
    color: black;
    text-decoration: none;
}
ul.menu{
    margin-top: 25px;
    text-align: right;
}
ul.menu li{
    display: inline;
    padding: 0px 10px;
    border-left: 1px solid black;
}
ul.menu li:last-child{
    border-right: 1px solid black;
}
ul.menu li a:hover{
    color: grey;
}
p.icons{
    margin-top: 40px;
    text-align: right;
}
h1{
    font-family: Raleway;
    font-size: 70px;
}
h2{
    margin-top: 50px;
    font-family: Raleway;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
}
h2.info{
    margin-bottom: 20px;
}
ul{
    list-style: none;
    padding: 0%;
    margin: 0%;
    margin-bottom: 40px;
}
h4{
    color: #1c9a85;
    margin-bottom: 20px;
}
ul.contact a{
    color: grey;
}
ul.contact a:hover{
    color: black;
}
ul b{
    font-weight: normal;
    color: black;
}
iframe{
    margin-bottom: 40px;
}
.fa-twitter:hover{
    color: lightblue;
}
.fa-facebook-square:hover{
    color: blue;
}
.fa-spotify:hover{
    color: lightgreen;
}
.fa-amazon:hover{
    color: rgb(255, 255, 109);
}
.fa-instagram:hover{
    color: lightpink;
}
.fa-apple:hover{
    color: grey;
}