*{
    margin: 0 auto;  
}
body{
    background-image: url('../img/emilia-home.jpg');
    background-size: 26.1cm 17.4cm;
    background-repeat: no-repeat;
    background-position-x: right;
    font-family: 'Open Sans';
}
ul{
    line-height: 40px;
}
ul li{
    list-style: none;
}
ul li a{
    text-decoration: none;
    color: rgb(146, 144, 144);
}
ul li a:hover{
    color: black;
}
ul a i{
    color: black;
}
h2{
    margin-top: 100px;
    font-family: 'Work Sans';
    font-weight: 550;
    margin-left: 40px;
    letter-spacing: 5px;
}
h1{
    margin-top: 130px;
    font-family: Raleway;
    font-size: 72px;
    margin-left: 10px;
    background-color: rgba(255, 255, 255, 0.5);
}
.fa-twitter:hover{
    color: lightblue;
}
.fa-facebook-square:hover{
    color: blue;
}
.fa-spotify:hover{
    color: lightgreen;
}
.fa-amazon:hover{
    color: rgb(255, 255, 109);
}
.fa-instagram:hover{
    color: lightpink;
}
.fa-apple:hover{
    color: grey;
}